version: '3'
services:
  postgres:
    image: postgres:10.3
    env_file:
      - ./config/api_vars.env
    ports:
      - "5432:5432"
    volumes:
      - ./data/:/var/lib/postgresql/data
  web:
    build: .
    command: npm run build
    depends_on:
      - postgres
    volumes:
      - .:/api/
      - /api/node_modules
    ports:
      - "3000:3000"
    env_file:
      - ./config/api_vars.env
