doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body
    p Welcome to the API! This is the only renderable page, here for sanity checks.