nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
  a(class="navbar-brand", href="#") KSA KExpo
  button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  
  div(class="collapse navbar-collapse", id="navbarNav")
    ul(class="navbar-nav")
      li(class="nav-item")
        a(class="nav-link", href="/results") Results
      li(class="nav-item dropdown")
        a(class="nav-link dropdown-toggle", href="#", id="controlPanel", role="button", data-toggle="dropdown") Control Panel
        div(class="dropdown-menu")
          a(class="dropdown-item", href="/control") Main
          a(class="dropdown-item", href="/control/enter") Competitors Info
      li(class="nav-item")
        a(class="nav-link", href="/") Voting
      li(class="nav-item")
        a(class="nav-link", href="/main") Main Screen