div#frontend_container {
  background: url("../images/background.jpg") no-repeat !important;
  height: 100%;

  div#login_title {
    text-align: center;
    margin-top: 6rem;

    h3 {
      color: #FFF;
      margin-bottom: 0;
      font-size: 1.5rem;
      line-height: 1;
    }
    h2 {
      color: #FFF;
      font-size: 5rem;
      line-height: 1;
    }
  }

  div#login-form_container {
    margin-top: 6rem;

    label {
      font-size: 0.75rem;
      color: #777777;
      padding-left: 0.375rem;
    }
    input[type="text"] {
      border-style: none none solid none;
      background-color: rgba(255, 255, 255, 0);
      color: #FFF;
    }
    button {
      margin-top: 1rem;
    }
  }
}
