// import in external fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://use.fontawesome.com/releases/v5.0.8/css/solid.css");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css");

@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

@import "basic";
@import "tables";
@import "forms";
@import "buttons";

@import "frontend";

//sani 
@import "voting-card";
