div#card-holder {
    background-color: rgba(63, 67, 77, 0.30);
    border-color: rgba(32, 43, 58, .30);
    border-width: 0.2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div#performer-title {
    h3 {
        color: #FFF;
        margin-bottom: 0;
        font-size: 1.1rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 0.3rem;  
      }

    h2 {
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: bold;  
    }
}


div#performer-image-container {
    height: 18rem;
    overflow: hidden;
    display: table-cell; 
    vertical-align: middle;
}

img.performer-image {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

button#like-btn {
    height: 5rem;
    margin: auto;

    i {
        font-size: 3rem;
    }

    .fas.fa-heart {
        color: rgba(255, 85, 85, 1);
        padding-bottom: 2rem;
    }

    .far.fa-heart {
        color: #777777;
        padding-bottom: 2rem;
    }
}

button#next-performance, 
button#pref-performance {
    padding: 0;
}

.nav-arrow, 
.final-arrow {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6)
}

.col-1 {
    padding: 0;
}

.col-1.arrow-left {
    text-align: right;
}

.no-vote {
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}





// final-screen

div#final-title {
    h3 {
        color: #FFF;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        text-align: center;
    }
}

button.final-selection {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.2rem;
    padding: 2px;
    padding-top: .5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border: 0;

    h3.selection-text { 
        color: #FFF;
        margin-bottom: 0;
        font-size: 0.8rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 0.3rem;  
    }

    h2.selection-text { 
        color: #FFF;
        font-size: 1.1rem;
        line-height: 1;
        font-weight: bold;  
    }
}

button.selected {
    background-color: rgba(38, 92, 169, 0.95);
}


// fixing sizing for mobile devices

@media only screen and (min-height: 568px) { //iphone 5/se
    div#card-holder.final-card {
        margin-top: 2.5rem;
    }

    div#performer-image-container {
        height: 16rem;
    }

    i.final-arrow{
        margin-top: 1rem;
    }
}

@media only screen and (min-height: 667px) { //iphone 6/7/8 and pixel 2
    div#card-holder {
        margin-top: 3.5rem;
    }

    div#card-holder.final-card {
        margin-top: 5rem;
    }

    i.nav-arrow {
        margin-top: 1.5rem;
    }

    div#final-title h3 {
        font-size: 1.3rem;
    }

    button.final-selection {
        h3.selection-text {
            font-size: 1.1rem;
        }

        h2.selection-text {
            font-size: 1.3rem;
        }
    }

    i.final-arrow {
        margin-top: 3.5rem;
    }
} 

@media only screen and (min-height: 736px) { //iphone 6/7/8 plus
    div#card-holder {
        margin-top: 5rem;
    }

    div#card-holder.final-card {
        margin-top: 6rem;
    }

    i.nav-arrow {
        margin-top: 3rem;
    }

    i.final-arrow {
        margin-top: 5rem;
    }
}

@media only screen and (min-height: 812px) { //iphone X and pixel 2 XL
    div#card-holder {
        margin-top: 8rem;
    }

    div#card-holder.final-card {
        margin-top: 9rem;
    }

    i.nav-arrow {
        margin-top: 7rem;
    }

    i.final-arrow {
        margin-top: 7.5rem;
    }
}