div#card-holder {
    background-color: rgba(63, 67, 77, 0.30);
    border-color: rgba(32, 43, 58, .30);
    border-width: 0.2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h3 {
        color: #FFF;
        margin-bottom: 0;
        font-size: 1.1rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 0.3rem;  
      }

    h2 {
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: bold;  
    }
}

div#performer-image-container {
    height: 18rem;
    overflow: hidden;
    display: table-cell; 
    vertical-align: middle;

}

img.performer-image {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

button#like-btn {
    height: 5rem;
    margin: auto;

    i {
        font-size: 3rem;
    }

    .fas.fa-heart {
        color: rgba(255, 85, 85, 1);
        padding-bottom: 2rem;
    }

    .far.fa-heart {
        color: #777777;
        padding-bottom: 2rem;
    }
}

button#next-performance, 
button#pref-performance {
    padding: 0;
}

.nav-arrow {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6)
}

.col-1 {
    padding: 0;
}

.col-1.arrow-left {
    text-align: right;
}

.no-vote {
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}





// final voting 

div#final-title {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

div#selection-1,
div#selection-2,
div#selection-3 {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    padding: 2px;
    padding-top: .5rem;
    margin-bottom: 1.5rem;

    h3 { 
        font-size: 0.8rem;
    }

    h2 { 
        font-size: 1.1rem;
    }
}